<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header " />

<body>

	
	
	<div th:replace="common/header :: navbar" ></div>
	
	<div class="container">
	<div>
	<ol class="breadcrumb">
	<li><a th:href="@{/product/productList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go Back /</a>
	<li><a th:href="@{/product/updateProduct?id=}+${product.id}">Edit</a></li>
	</ol>
	
	</div>
	
	<div class="row">
	<div class="col-3">
	<div class="card">
	<div class="card-body">
	<img th:src="@{/image/product/}+${product.id}+'.png'" class="img-fluid" />
	
	</div>
	
	</div>
	
	</div>
	<div class="col-9">
	<h3 th:text="${product.name}"> </h3>
	<div class="row">
	<div class="col-6">
	<p><strong>Brand:</strong><span th:text="${product.brand}"></span></p>
	<p><strong>Collection:</strong><span th:text="${product.collection}"></span></p>
	<p><strong>Size:</strong><span th:text="${product.size}"></span></p>
	<p><strong>Sex:</strong><span th:text="${product.sex}"></span></p>
	</div>
	<div class="col-6">
	<p><strong>Category:</strong><span th:text="${product.category}"></span></p>
	
	<p><strong>List Price:</strong><span th:text="${product.listPrice}"></span></p>
	<p><strong>Price:</strong><span th:text="${product.Price}"></span></p>
	<p><strong>Stock Number:</strong><span th:text="${product.inStockNumber}"></span></p>
	</div>
	</div>
	<p><strong>Description:</strong><span th:utext="${product.description}"></span></p>
	</div>
	
	
	</div>
	</div>





	<div th:replace="common/header :: body-bottom-scripts" />
	
</html>
